.navbar{
    background-color: #0E0F18!important;
    position:fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar .navbar-toggler-icon{
    background-image: url('./hamburger.svg');
}

.navbar .navbar-brand{
    color: #fff;
}

.navbar .navbar-brand img{
    width: 100px;
    margin-right: 1rem;
}

.navbar .nav-link{
    color: #fff;
    margin-left: 2rem;
    font-size: 1.25rem;
}

.navbar .nav-link:hover{

    color: rgba(255, 255, 255, 0.493)!important;
}

.navbar .active{
    color: rgba(255, 255, 255, 0.493)!important;
}

.navbar .btn{
    margin: 0 1rem;
    color: #fff;
}

.navbar .btn:hover{
    background-color: #02a89a6b!important;
}

@media (max-width:992px) {
    .navbar .btn{
        margin: 0 1rem;
    }

    .navbar .navbar-brand{
        font-size: 1rem;
    }

    .navbar .navbar-brand img{
        width: 50px;
    }
}